---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
 
---
<Layout title="Welcome to Gazpacho.">
<Header />

<h1 class="h1">Nos Plats</h1>
<div class="containerPhoto">
    <div class="grid">
        <div class="card mini">
            <img src="/tiramisu.jpg" alt="food1" />
            
        </div>
        <div class="card mini">
            <img src="/mini_hamb.jpg" alt="food2" />
            
        </div>
        <div class="card grande">
            <img src="/papas.jpg" alt="food3" />
            
        </div>
        <div class="card media">
            <img src="/postre.jpg" alt="food4" />
            
        </div>
        <div class="card semiMedia">
            <img src="/sushi_vaso.jpg" alt="food5" />
            
        </div>
        <div class="card estrecha">
            <img src="/filetes.jpg" alt="food6" />
            
        </div></div>
        <div class="grid2">
        <div class="card doble">
            <img src="/tiramisu.jpg" alt="food1" />
            
        </div>
        <div class="card doble">
            <img src="/mini_hamb.jpg" alt="food2" />
            
        </div>
        <div class="card doble">
            <img src="/papas.jpg" alt="food3" />
            
        </div>
        <div class="card doble">
            <img src="/postre.jpg" alt="food4" />
            
        </div></div>
        <div class="grid3">
        <div class="card peqAlargada">
            <img src="/sushi_vaso.jpg" alt="food5" />
            
        </div>
        <div class="card mediaAlgarda">
            <img src="/filetes.jpg" alt="food6" />
            
        </div>
    </div>
</div>
<Footer/>
</Layout>

<style>
    .h1 {
        text-align: center;
        margin-top: 9.375rem;
        color: rgb(106, 106, 106);
        font-size: 1.875rem;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        gap: 0.5rem;
        margin-top: 2rem;
    }
    .grid2{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 0.5rem;
        gap: 0.5rem;
        
    }
    .grid3{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 0.5rem;
        gap: 0.5rem;
        
    }
    .containerPhoto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
    }.card{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
    .mini{
        grid-row: span 1;
        grid-columns: span 1 ;
    }
    .grande{
        grid-row: span 2;
        grid-column: span 3;
    }
    .media{
        grid-row: span 2;
        grid-column: span 2;
    }
    .semiMedia{
        grid-row: span 1;
        grid-column: span 2;
    }
    .estrecha{
        grid-row: span 1;
        grid-column: span 1;
    }
    .doble{
        grid-row: span 2 ;
        grid-column: span 1;
    }
    .peqAlargada{
        grid-row: span 2 ;
        grid-column: span 1;
    }
    .mediaAlgarda{
        grid-row: span 2 ;
        grid-column: span 2;
    }
</style>