---
import CommandMobile from '../components/CommandMobile.svelte';
---
<div class="container bg-white">

    <h2 class="text-left py-16 pl-5 text-orange-600 text-xl font-semibold">Menu</h2>
    <CommandMobile client:load/>
</div>